.team {}

.team h1 {
    margin-bottom: 5rem;
}

@media (max-width: 992px) {
    .team h1 {
        margin-bottom: 3.5rem;
    }
}

@media (max-width: 575px) {
    .team h1 {
        margin-bottom: 2.5rem;
    }
}

.team__cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3.5rem 3.5rem;
}

@media (max-width: 1199px) {
    .team__cards {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 992px) {
    .team__cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 575px) {
    .team__cards {
        grid-template-columns: 1fr;
    }
}

.team__card {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.team__card-img-wrap {
    border-radius: 7px;
    overflow: hidden;
    max-width: 270px;
    width: 100%;
    min-height: 295px;
}

@media (max-width: 992px) {
    .team__card-img-wrap {
        max-width: none;
        max-height: 450px;
    }
}

@media (max-width: 376px) {
    .team__card-img-wrap {
        max-height: 295px;
    }
}

.team__card-img-wrap img {
    width: 100%;
    height: 100%;
}

.team__card-body {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.team__card-body h3 {
    font-size: var(--fz-m-plus);
    font-weight: 500;
    line-height: 150%;
    color: #303030;
}

@media (max-width: 575px) {
    .team__card-body h3 {
        font-size: var(--fz-l);
    }
}

.team__card-body h3+p {
    font-size: var(--fz-xs);
    font-weight: 150%;
    color: rgba(48, 48, 48, 0.5);
}