.current-projects {}

.current-projects header {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    margin-bottom: 3.5rem;
}

.current-projects h1 {
    margin-bottom: 0;
}

.current-projects header .current-projects__tabs {
    gap: 1rem;
}
