/* ПЕРВЫЙ БЛОК */
.hero-section {}

.hero-section__container {
    padding-top: 3.6rem;
    gap: 3.5rem;
    margin-bottom: 4.2rem;
}

@media (max-width: 992px) {
    .hero-section__container {
        padding-top: 4rem;
        flex-direction: column;
        margin-bottom: 3.5rem;
    }
}

@media (max-width: 575px) {
    .hero-section__container {
        padding-top: 5rem;
    }
}

.hero-section__body {
    width: 590px;
    padding: 2rem 0rem;
    flex: none;
}

@media (max-width: 1199px) {
    .hero-section__body {
        width: 433px;
        padding: 0rem;
    }
}

@media (max-width: 992px) {
    .hero-section__body {
        width: 400px;
    }
}

@media (max-width: 992px) {
    .hero-section__body {
        width: 100%;
    }
}

.hero-section .h3 {
    margin-bottom: 1.5rem;
}

.hero-section h1 {
    margin-bottom: 2.5rem;
}

.hero-section__info {
    margin-top: auto;
    gap: 3.5rem;
}

.hero-section__info p {
    font-weight: 500;
    max-width: 530px;
}

@media (max-width: 768px) {
    .hero-section__info p {
        font-weight: 400;
        max-width: none;
    }
}

.hero-section__btns {
    gap: 2.3rem;
}

@media (max-width: 768px) {
    .hero-section__btns {
        flex-direction: column;
        gap: 1rem;
    }
}

.hero-section__btns .btn {
    padding-left: 4.5rem;
    padding-right: 4.5rem;
    font-size: 1.6rem;
}

.hero-section__img-wrap {
    width: 737px;
    height: 500px;
    flex: none;
}

@media (max-width: 1300px) {
    .hero-section__img-wrap {
        width: 648px;
        height: 439px;
        margin-top: auto;
    }
}

@media (max-width: 1199px) {
    .hero-section__img-wrap {
        width: 516px;
        height: 353px;
    }
}

@media (max-width: 992px) {
    .hero-section__img-wrap {
        width: 594px;
        height: 402px;
    }
}

@media (max-width: 992px) {
    .hero-section__img-wrap {
        width: 100%;
        max-width: 800px;
        display: flex;
        justify-content: center;
        height: auto;
    }
}

@media (max-width: 575px) {
    .hero-section__img-wrap {
        height: auto;
    }
}

.hero-section__img-wrap img {
    width: 100%;
    height: 100%;
}

@media (max-width: 768px) {
    .hero-section__img-wrap img {
        width: auto;
        height: 100%;
    }
}

@media (max-width: 575px) {
    .hero-section__img-wrap img {
        width: 100%;
        height: 100%;
    }
}


/* БЛОК - КОМУ МЫ ПОМОГАЕМ */
.we-help {}

.we-help__cards {
    gap: 4rem 2.5rem;
    justify-content: center;
}

@media (max-width: 769px) {
    .we-help__cards {
        gap: 3rem 2.5rem;
    }
}

@media (max-width: 575px) {
    .we-help__cards {
        gap: 1.5rem;
    }
}

.we-help__card {
    position: relative;
    background-color: var(--color-white);
    border-radius: 2rem;
    overflow: hidden;
    width: 373px;
    height: 270px;
    display: flex;
    align-items: flex-end;
    padding: 1.5rem;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.05);
    cursor: pointer;
}

@media (max-width: 992px) {
    .we-help__card {
        flex: 0 1 calc(50% - 4rem);
        width: auto;
        height: auto;
        aspect-ratio: 373 / 270;
    }
}

@media (max-width: 769px) {
    .we-help__card {
        flex: 0 1 100%;
        max-height: 270px;
    }
}

.we-help__card:hover {
    background-color: var(--color-orange);
    color: var(--color-white);
}

.we-help__card-title {}

.we-help__card:hover h3 {
    color: var(--color-white);
}

.we-help__img {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 100%;
    object-fit: contain;
}


/* БЛОК - ТЕКУЩИЕ ПРОЕКТЫ */
.current-projects {}

.current-projects__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
}

@media (max-width: 992px) {
    .current-projects__cards {
        gap: 3rem;
    }
}

@media (max-width: 769px) {
    .current-projects__cards {
        grid-template-columns: 1fr;
        gap: 2.5rem;
    }
}

.current-projects__card {
    flex: 1 1 calc(50% - 4rem);
    padding: 1.5rem;
    border-radius: 2.4rem;
    overflow: hidden;
    box-shadow: 0px 0px 21.9px 0px rgba(0, 0, 0, 0.05);
    min-height: 615px;
}

@media (max-width: 1199px) {
    .current-projects__card {
        min-height: 570px;
    }
}

@media (max-width: 992px) {
    .current-projects__card {
        padding: 1rem;
        min-height: 530px;
    }
}

@media (max-width: 769px) {
    .current-projects__card {
        padding: 1.5rem;
        border-radius: 1.2rem;
    }
}

@media (max-width: 575px) {
    .current-projects__card {
        padding: 8px;
    }
}

.current-projects__card-inner {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.current-projects__card-image {
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    max-height: 320px;
}

.current-projects__card-image img {
    width: 100%;
    height: 100%;
}

@media (max-width: 769px) {
    .current-projects__card-image {
        border-radius: 6px;
    }
}

@media (max-width: 575px) {
    .current-projects__card-image {
        height: 225px;
        max-height: none;
    }
}

.current-projects__card-image::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #00000064);
}

.current-projects__card-city {
    padding: 0.9rem 1.9rem;
    border: 1px solid var(--color-white);
    border-radius: 4px;
    color: var(--color-white);
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    z-index: 10;
}

.current-projects__card-body {
    padding: 2rem 1rem 5px;
    gap: 1.5rem;
    flex: 1;
}

@media (max-width: 992px) {
    .current-projects__card-body {
        padding: 1rem;
    }
}

.current-projects__price-info {
    line-height: 130%;
    gap: 1.5rem;
}

/* ЭТО ОФОРМЛЕНИЕ ПОЛОСКИ ПРОГРЕССА ПО ЦЕНАМ */
.range-item {
    width: 100%;
}

.range-item__main-number {}

@media (max-width: 768px) {
    .range-item__main-number {
        font-weight: 500;
    }
}

.range-item__line {
    position: relative;
    height: 6px;
    background-color: rgba(37, 37, 37, 0.1);
    border-radius: 10rem;
    overflow: hidden;
}

.range-item__line::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: var(--color-orange);
    border-radius: 10rem;
    width: var(--percent, 0%);
    transition: width 0.5s ease;
}

.range-item__second-number {}

.current-projects__btns {
    padding-top: 1rem;
    margin-top: auto;
    gap: 1.5rem;
}

@media (max-width: 992px) {
    .current-projects__btns {
        gap: 1rem;
        flex-direction: column;
    }
}

.current-projects__btns>.btn:nth-child(1) {
    flex: 0 0 62%;
}

@media (max-width: 1201px) {
    .current-projects__btns>.btn:nth-child(1) {
        flex: 1;
    }
}

.current-projects__btns>.btn:nth-child(2) {
    flex: 1;
}

@media (max-width: 992px) {
    .current-projects__btns>* {
        width: 100%;
    }
}


/* БЛОК - ПРОГРАММЫ ФОНДА */
.fund-program {}

.fund-program__slider {
    position: relative;
    width: 100%;
}

@media (max-width: 1201px) {
    .fund-program__slider {
        width: calc(100% - 150px);
    }
}

@media (max-width: 769px) {
    .fund-program__slider {
        width: 100%;
    }
}

.fund-program__slide {
    padding: 1.5rem 3rem 1.5rem 1.5rem;
    border-radius: 2.4rem;
    background: #EDEDED;
}

@media (max-width: 1201px) {
    .fund-program__slide {
        padding: 1.5rem;
    }
}

@media (max-width: 769px) {
    .fund-program__slide {
        padding: 1.5rem 1.5rem 2.5rem;
        border-radius: 1.2rem;
    }
}

@media (max-width: 575px) {
    .fund-program__slide {
        padding: 8px 8px 2rem;
    }
}

.fund-program__slide-inner {
    gap: 4rem;
}

@media (max-width: 1201px) {
    .fund-program__slide-inner {
        flex-direction: column;
    }
}

@media (max-width: 992px) {
    .fund-program__slide-inner {
        gap: 3rem;
    }
}

@media (max-width: 769px) {
    .fund-program__slide-inner {
        gap: 2.5rem;
    }
}

@media (max-width: 575px) {
    .fund-program__slide-inner {
        gap: 1rem;
    }
}

.fund-program__slide-img {
    border-radius: 1.6rem;
    width: 565px;
    max-height: 462px;
    height: 462px;
    flex: none;
}

@media (max-width: 1201px) {
    .fund-program__slide-img {
        width: 100%;
    }
}

@media (max-width: 992px) {
    .fund-program__slide-img {
        height: 390px;
    }
}

@media (max-width: 769px) {
    .fund-program__slide-img {
        border-radius: 6px;
        height: 350px;
    }
}

@media (max-width: 575px) {
    .fund-program__slide-img {
        height: 225px;
    }
}

.fund-program__slide-img img {
    width: 100%;
    height: 100%;
}

.fund-program__slide-body {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
    padding: 2rem 0rem;
    align-self: center;
    width: 100%;
}

@media (max-width: 1201px) {
    .fund-program__slide-body {
        gap: 3rem;
        padding: 0rem 1rem;
    }
}

@media (max-width: 992px) {
    .fund-program__slide-body {
        gap: 2.5rem;
    }
}

@media (max-width: 769px) {
    .fund-program__slide-body {
        gap: 1.5rem;
    }
}

.fund-program__slide-top-info {
    margin-bottom: 1rem;
    max-width: 500px;
}

@media (max-width: 769px) {
    .fund-program__slide-top-info {
        margin-bottom: 0rem;
    }
}


.fund-program__slide-top-info h3 {
    margin-bottom: 1.5rem;
}

.fund-program__slide-main-info {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

@media (max-width: 575px) {
    .fund-program__slide-main-info {
        gap: 1.5rem;
    }
}

.fund-program__slide-main-info .list-title {
    margin-bottom: 5px;
    font-weight: 600;
}

.fund-program .swiper-buttons {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% + 140px);
    justify-content: space-between;
}

@media (max-width: 1400px) {
    .fund-program .swiper-buttons {
        width: calc(100% + 25px);
    }
}

@media (max-width: 1201px) {
    .fund-program .swiper-buttons {
        width: calc(100% + 150px);
    }
}

@media (max-width: 769px) {
    .fund-program .swiper-buttons {
        position: relative;
        top: 0;
        left: 0;
        transform: translate(0, 0);
        margin-bottom: 2.5rem;
        width: 100%;
    }
}


/* БЛОК - БОЛЬШОЕ СПАСИБО */
.thanks-section {}

.thanks-section__container {
    padding-top: 33rem;
    padding-bottom: 33rem;
    position: relative;
}

@media (max-width: 575px) {
    .thanks-section__container {
        padding-top: 30.5rem;
        padding-bottom: 30.5rem;
    }
}

.thanks-section__container h2 {
    margin-bottom: 1.5rem;
}

.thanks-section__container p {
    max-width: 402px;
}


@media (max-width: 769px) {
    .thanks-section__container p {
        max-width: 318px;
    }
}

@media (max-width: 575px) {
    .thanks-section__container p {
        max-width: 290px;
    }
}

[class*="bg-item"] {
    background: url('../../assets/images/pages/main/thanks-section/bg-item-img.png');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 1.2rem;
    position: absolute;
}

[class*="bg-item"] span {
    background-color: var(--color-white);
    border-radius: 5px;
    padding: 0.7rem 1rem;
    color: var(--color-black);
    position: absolute;
    left: 5px;
    bottom: 5px;
}

@media (max-width: 769px) {
    [class*="bg-item"] span {
        border-radius: 7px;
        padding: 0.5rem 0.7rem;
    }
}

@media (max-width: 575px) {
    [class*="bg-item"] span {
        font-size: 8px;
    }
}

.bg-item {
    width: 207px;
    height: 142px;
}

.bg-item_small {
    width: 167px;
    height: 114px;
}

.bg-item_big {
    width: 270px;
    height: 185px;
}

[class*="bg-item"]:nth-child(3) {
    top: 18px;
    left: 20px;
}

[class*="bg-item"]:nth-child(4) {
    top: 131px;
    left: 227px;
}

[class*="bg-item"]:nth-child(5) {
    top: 74px;
    left: 498px;
}

[class*="bg-item"]:nth-child(6) {
    top: 43px;
    right: 226px;
}

[class*="bg-item"]:nth-child(7) {
    top: 242px;
    right: 20px;
}

[class*="bg-item"]:nth-child(8) {
    top: 300px;
    left: 21px;
}

[class*="bg-item"]:nth-child(9) {
    bottom: 140px;
    left: 83px;
}

[class*="bg-item"]:nth-child(10) {
    bottom: 14px;
    left: 330px;
}

[class*="bg-item"]:nth-child(11) {
    bottom: 86px;
    right: 495px;
}

[class*="bg-item"]:nth-child(12) {
    bottom: 14px;
    right: 266px;
}

[class*="bg-item"]:nth-child(13) {
    bottom: 182px;
    right: 82px;
}

@media (max-width: 1201px) {
    [class*="bg-item"]:nth-child(3) {
        top: 18px;
        left: -27px;
    }

    [class*="bg-item"]:nth-child(4) {
        top: 104px;
        left: 227px;
    }

    [class*="bg-item"]:nth-child(5) {
        top: 59px;
        left: 502px;
    }

    [class*="bg-item"]:nth-child(6) {
        top: 41px;
        right: -8px;
    }

    [class*="bg-item"]:nth-child(7) {
        top: 287px;
        right: -80px;
    }

    [class*="bg-item"]:nth-child(8) {
        top: 291px;
        left: -54px;
    }

    [class*="bg-item"]:nth-child(9) {
        bottom: 140px;
        left: 4px;
    }

    [class*="bg-item"]:nth-child(10) {
        bottom: 20px;
        left: 573px;
    }

    [class*="bg-item"]:nth-child(11) {
        bottom: 86px;
        right: 486px;
    }

    [class*="bg-item"]:nth-child(12) {
        bottom: 24px;
        right: -22px;
    }

    [class*="bg-item"]:nth-child(13) {
        bottom: 182px;
        right: 42px;
    }
}

@media (max-width: 992px) {
    .bg-item_big {
        width: 230px;
        height: 158px;
    }

    [class*="bg-item"]:nth-child(4) {
        top: 45px;
        left: auto;
        right: -25px;
    }

    [class*="bg-item"]:nth-child(5) {
        top: 156px;
        right: 224px;
        left: auto;
    }

    [class*="bg-item"]:nth-child(6) {
        top: 41px;
        right: 469px;
    }

    [class*="bg-item"]:nth-child(8) {
        top: 186px;
        left: auto;
        right: 757px;
    }

    [class*="bg-item"]:nth-child(10) {
        bottom: 253px;
        left: auto;
        right: -10px;
    }

    [class*="bg-item"]:nth-child(11) {
        bottom: 70px;
        right: 102px;
    }

    [class*="bg-item"]:nth-child(12) {
        bottom: 175px;
        right: 700px;
    }

    [class*="bg-item"]:nth-child(13) {
        width: 230px;
        height: 158px;
        bottom: 129px;
        right: 371px;
    }
}

@media (max-width: 769px) {
    .bg-item {
        width: 188px;
        height: 129px;
    }

    .bg-item_small {
        width: 135px;
        height: 93px;
    }

    .bg-item_big {
        width: 207px;
        height: 142px;
    }

    [class*="bg-item"]:nth-child(4) {
        width: 135px;
        height: 93px;
        right: 36px;
    }

    [class*="bg-item"]:nth-child(5) {
        width: 202px;
        height: 139px;
        top: 156px;
        right: 142px;
    }

    [class*="bg-item"]:nth-child(6) {
        width: 181px;
        height: 126px;
        right: 401px;
    }

    [class*="bg-item"]:nth-child(8) {
        width: 135px;
        height: 93px;
        top: 196px;
        right: 540px;
    }

    [class*="bg-item"]:nth-child(10) {
        bottom: 51px;
        right: 42px;
    }

    [class*="bg-item"]:nth-child(11) {
        width: 181px;
        height: 126px;
        bottom: 174px;
    }

    [class*="bg-item"]:nth-child(12) {
        bottom: 216px;
        right: 567px;
    }

    [class*="bg-item"]:nth-child(13) {
        width: 202px;
        height: 139px;
        bottom: 38px;
    }
}

@media (max-width: 575px) {
    .bg-item {
        width: 140px;
        height: 96px;
    }

    .bg-item_small {
        width: 112px;
        height: 77px;
    }

    .bg-item_big {
        width: 160px;
        height: 110px;
    }

    [class*="bg-item"]:nth-child(4) {
        width: 100px;
        height: 69px;
        right: 41px;
        top: 62px;
    }

    [class*="bg-item"]:nth-child(5) {
        width: 160px;
        height: 110px;
        top: 156px;
        right: 90px;
    }

    [class*="bg-item"]:nth-child(6) {
        width: 140px;
        height: 96px;
        right: 250px;
        top: 0px;
    }

    [class*="bg-item"]:nth-child(8) {
        width: 112px;
        height: 77px;
        top: 154px;
        right: 367px;
    }

    [class*="bg-item"]:nth-child(10) {
        bottom: 78px;
        right: 42px;
        width: 112px;
        height: 77px;
    }

    [class*="bg-item"]:nth-child(11) {
        width: 140px;
        height: 96px;
        bottom: 175px;
    }

    [class*="bg-item"]:nth-child(12) {
        bottom: 167px;
        right: 351px;
        width: 100px;
        height: 69px;
    }

    [class*="bg-item"]:nth-child(13) {
        width: 160px;
        height: 110px;
        bottom: 10px;
        right: 271px;
    }
}

@media (max-width: 430px) {
    [class*="bg-item"]:nth-child(4) {
        right: 31px;
    }

    [class*="bg-item"]:nth-child(5) {
        top: 177px;
        right: 20px;
    }

    [class*="bg-item"]:nth-child(6) {
        right: auto;
        left: 30px;
    }

    [class*="bg-item"]:nth-child(8) {
        right: auto;
        left: 40px;
        top: 174px;
    }

    [class*="bg-item"]:nth-child(10) {
        bottom: 51px;
        right: 20px;
    }

    [class*="bg-item"]:nth-child(11) {
        right: 20px;
    }

    [class*="bg-item"]:nth-child(12) {
        right: auto;
        left: 30px;
    }

    [class*="bg-item"]:nth-child(13) {
        right: auto;
        left: 30px;
    }
}

@media (max-width: 376px) {
    [class*="bg-item"]:nth-child(4) {
        right: 31px;
    }

    [class*="bg-item"]:nth-child(5) {
        top: 177px;
        right: 10px;
    }

    [class*="bg-item"]:nth-child(6) {
        right: auto;
        left: 10px;
    }

    [class*="bg-item"]:nth-child(8) {
        right: auto;
        left: 10px;
        top: 174px;
    }

    [class*="bg-item"]:nth-child(10) {
        bottom: 51px;
        right: 10px;
    }

    [class*="bg-item"]:nth-child(11) {
        right: 10px;
    }

    [class*="bg-item"]:nth-child(12) {
        right: auto;
        left: 10px;
    }

    [class*="bg-item"]:nth-child(13) {
        right: auto;
        left: 10px;
    }
}


/* БЛОК - НАШИ ЦЕННОСТИ */
.our-values {}

.our-values__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 4rem;
}

@media (max-width: 992px) {
    .our-values__items {
        grid-template-columns: repeat(2, 1fr);
        gap: 4rem 3rem;
    }
}

@media (max-width: 575px) {
    .our-values__items {
        grid-template-columns: 1fr;
        gap: 4rem;
    }
}

@media (max-width: 431px) {
    .our-values__items {
        gap: 2.5rem;
    }
}

.our-values__item {
    display: flex;
    flex-direction: column;
    gap: 1.9rem;
}

@media (max-width: 769px) {
    .our-values__item {
        gap: 1.5rem;
    }
}

.our-values__item-img-wrap {
    border-radius: 1.2rem;
    overflow: hidden;
    box-shadow: 0px 0px 22px 0px rgba(0, 0, 0, 0.05);
    height: 185px;
}

.our-values__item-img-wrap img {
    height: 100%;
    width: 100%;
}

.our-values__item-body {
    display: flex;
    flex-direction: column;
    gap: 1.9rem;
}

@media (max-width: 769px) {
    .our-values__item-body {
        gap: 1.5rem;
    }
}

.our-values__item-title {
    font-weight: 500;
    line-height: 130%;
}

.our-values__item-text {
    line-height: 150%;
}


/* БЛОК - НАШИ ПАРТНЁРЫ */
.our-partners {}

@media (max-width: 430px) {
    .our-partners h2 {
        max-width: 350px;
    }
}

.our-partners__items {
    gap: 4rem;
}

.our-partners__item-icon {}

@media (max-width: 992px) {
    .our-partners__items {
        flex-wrap: wrap;
        gap: 3rem 4rem;
        justify-content: center;
    }

    .our-partners__item-icon {
        flex: 0 0 calc(33% - 3rem);
        height: 118px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 768px) {
    .our-partners__items {
        gap: 3rem;
    }

    .our-partners__item-icon {
        flex: 0 0 calc(50% - 3rem);
        height: 118px;
    }
}

@media (max-width: 575px) {
    .our-partners__items {
        gap: 2rem;
    }

    .our-partners__item-icon {
        flex: 0 0 100%;
        height: 120px;
    }
}

.our-partners__item-icon img {
    height: 100%;
    object-fit: contain;
}

.our-partners__btn {
    margin-top: 5rem;
}

@media (max-width: 575px) {
    .our-partners__btn {
        margin-top: 4rem;
    }
}


/* БЛОК - ВОЛОНТЁРЫ */
.volunteers {}

.volunteers__container {
    gap: 3rem;
}

.volunteers__container>* {
    flex: 1 1 50%;
}

@media (max-width: 768px) {
    .volunteers__container {
        flex-direction: column;
        gap: 4.5rem;
    }

    .volunteers__container>* {
        flex: auto;
    }
}

.volunteers__body {
    max-width: 477px;
}

@media (max-width: 768px) {
    .volunteers__body {
        max-width: 600px;
    }
}

@media (min-width: 769px) {
    .volunteers__title {
        margin-bottom: 1.5rem;
    }
}

.volunteers__texts {
    gap: 4rem;
    height: 100%;
}

@media (max-width: 768px) {
    .volunteers__texts {
        gap: 3.5rem;
    }
}

.volunteers__main-info {
    line-height: 130%;
    gap: 3.5rem;
}

.volunteers__pre-info {
    line-height: 130%;
    max-width: 207px;
    gap: 2.5rem;
}

@media (max-width: 992px) {
    .volunteers__main-info {
        gap: 2.5rem;
    }

    .volunteers__pre-info {
        gap: 1.5rem;
    }
}

@media (max-width: 768px) {
    .volunteers__main-info {
        gap: 3rem;
    }

    .volunteers__pre-info {
        max-width: 300px;
        gap: 2rem;
    }
}

@media (max-width: 575px) {
    .volunteers__main-info {
        gap: 2.5rem;
    }

    .volunteers__pre-info {
        gap: 1.5rem;
    }
}

.volunteers__img-wrap {
    max-width: 620px;
    max-height: 456px;
    border-radius: 2.4rem;
    overflow: hidden;
}


@media (max-width: 768px) {
    .volunteers__img-wrap {
        max-width: none;
        max-height: 456px;
        border-radius: 1.8rem;
    }
}

@media (max-width: 575px) {
    .volunteers__img-wrap {
        height: 250px;
        border-radius: 1.2rem;
    }
}

.volunteers__img-wrap>img {
    width: 100%;
    height: 100%;
}


/* БЛОК - НОВОСТИ */
.news {}

.news__cards {
    gap: 2rem;
}

@media (max-width: 575px) {
    .news__cards {
        gap: 1.5rem;
    }
}

.news__card {
    gap: 3rem;
    position: relative;
    padding-bottom: 2rem;
}

@media (max-width: 768px) {
    .news__card {
        flex-direction: column;
    }
}

@media (max-width: 575px) {
    .news__card {
        gap: 2rem;
        position: relative;
        padding-bottom: 1.5rem;
    }
}

.news__card::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #D4D4D4;
    position: absolute;
    bottom: 0;
}

.news__img-wrap {
    overflow: hidden;
    border-radius: 2rem;
    max-width: 320px;
}

@media (max-width: 768px) {
    .news__img-wrap {
        border-radius: 1.2rem;
        max-width: none;
        height: 300px;
    }
}

@media (max-width: 575px) {
    .news__img-wrap {
        height: 200px;
    }
}

.news__img-wrap>img {
    height: 100%;
    width: 100%;
}

.news__card-body {
    height: auto;
    width: 100%;
    gap: 2rem;
    padding: 2rem 0rem;
    line-height: 150%;
}

@media (max-width: 768px) {
    .news__card-body {
        gap: 1.8rem;
        padding: 0rem;
    }
}

@media (max-width: 575px) {
    .news__card-body {
        gap: 1.5rem;
    }
}

.news__card-title {
    font-size: var(--fz-l);
    color: #303030;
}


/* ТУТ ОБРЕЗКА ТЕКСТА */
.news__card-desc {
    font-size: var(--fz-xs);
    color: #303030;

    /* если испольузете скрипт, это надо убрать */
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

@media (max-width: 575px) {
    .news__card-desc {
        -webkit-line-clamp: 6;
    }
}

.news__card-date {
    font-size: var(--fz-xs);
    color: rgba(48, 48, 48, 0.5);
    margin-top: auto;
}

.news__btn {
    margin-top: 5rem;
    align-self: center;
}

@media (max-width: 768px) {
    .news__btn {
        margin-top: 4rem;
    }
}


/* БЛОК - ЕСЛИ ВЫ НЕ НАШЛИ ОТВЕТ */
.ask-section {}

.ask-section__container {
    padding-top: 5.5rem;
    padding-bottom: 7.5rem;
}

@media (max-width: 768px) {
    .ask-section__container {
        padding-top: 4.5rem;
        padding-bottom: 5.5rem;
        flex-direction: column;
        gap: 2.5rem;
    }
}

@media (max-width: 575px) {
    .ask-section__container {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
}

.ask-section__title {}

@media (max-width: 992px) {
    .ask-section__title {
        font-size: var(--fz-xl);
    }
}

@media (max-width: 575px) {
    .ask-section__title {
        font-size: var(--fz-l);
        align-self: flex-start;
    }
}

@media (max-width: 430px) {
    .ask-section__title {
        font-size: var(--fz-m);
    }
}

.ask-section__contacts {
    gap: 10.4rem;
}

@media (max-width: 1199px) {
    .ask-section__contacts {
        gap: 4.4rem;
    }
}

@media (max-width: 992px) {
    .ask-section__contacts {
        flex-direction: column;
        gap: 2.5rem;
        align-items: center;
    }
}

@media (max-width: 768px) {
    .ask-section__contacts {
        width: 100%;
    }
}

.ask-section__btn {
    width: 271px;
}

@media (max-width: 1199px) {
    .ask-section__btn {
        width: 250px;
    }
}

@media (max-width: 768px) {
    .ask-section__btn {
        width: 443px;
    }
}

@media (max-width: 575px) {
    .ask-section__btn {
        width: 100%;
    }
}

.ask-section__phone-wrap {
    gap: 1rem;
    padding-right: 3.6rem;
}

@media (max-width: 1199px) {
    .ask-section__phone-wrap {
        padding-right: 1rem;
    }
}

@media (max-width: 992px) {
    .ask-section__phone-wrap {
        padding-right: 0rem;
        align-items: center;
    }
}

.ask-section__phone-title {
    color: var(--color-lightGray);
    line-height: 130%;
}