/* == ОБЩИЕ БЛОКИ ДЛЯ ВСЕХ ПРОГРАММ == */
.hero-section {}

.hero-section.no-ribbon .decor-ribbon {
    display: none;
}

@media (max-width: 800px) {
    .hero-section.no-ribbon-mobile .decor-ribbon {
        display: none;
    }
}

.hero-section .my-container {
    padding-top: 5.6rem;
    padding-bottom: 6.2rem;
    gap: 4rem;
}

@media (max-width: 992px) {
    .hero-section .my-container {
        gap: 3rem;
    }
}

@media (max-width: 992px) {
    .hero-section .my-container {
        flex-direction: column;
        padding-top: 5rem;
        padding-bottom: 4rem;
        gap: 4rem;
    }
}

@media (max-width: 800px) {
    .hero-section.no-ribbon-mobile .my-container {
        padding-bottom: 0rem;
    }
}

@media (max-width: 575px) {
    .hero-section .my-container {
        gap: 3.5rem;
        padding-bottom: 3.5rem;
    }
}

.hero-section__body {
    max-width: 580px;
    flex-basis: 50%;
}

@media (max-width: 992px) {
    .hero-section__body {
        max-width: 700px;
        flex-basis: 100%;
    }
}

@media (max-width: 769px) {
    .hero-section__body {
        max-width: 580px;
    }
}

.hero-section__body .h3 {
    margin-bottom: 1.5rem;
    color: var(--color-lightGray);
    max-width: 490px;
}

@media (max-width: 992px) {
    .hero-section__body .h3 {
        max-width: none;
    }
}

.hero-section__body .h3:empty {
    margin-bottom: 0;
}

.hero-section__body h1 {
    font-size: 5.2rem;
}

@media (max-width: 992px) {
    .hero-section__body h1 {
        font-size: 4.8rem;
    }
}

@media (max-width: 575px) {
    .hero-section__body h1 {
        font-size: 3.2rem;
    }
}

.hero-section__info {
    margin-top: auto;
    gap: 3.5rem;
}

@media (max-width: 1199px) {
    .hero-section__info {
        gap: 1.5rem;
    }
}

@media (max-width: 992px) {
    .hero-section__info {
        gap: 2.5rem;
    }
}

@media (max-width: 575px) {
    .hero-section__info {
        gap: 3.5rem;
    }
}

.hero-section__buttons {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

@media (max-width: 769px) {
    .hero-section__buttons {
        gap: 1.5rem;
    }
}

.hero-section__buttons .btn {
    padding-right: 4.5rem;
    padding-left: 4.5rem;
}

@media (max-width: 992px) {
    .hero-section__buttons .btn {
        min-width: 0px;
        padding-right: 2rem;
        padding-left: 2rem;
    }
}

.hero-section__img-wrap {
    border-radius: 1.6rem;
    max-width: 580px;
    max-height: 350px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 1199px) {
    .hero-section__img-wrap {
        max-width: 500px;
    }
}

/* @media (max-width: 992px) {
    .hero-section__img-wrap {
        max-width: 418px;
    }
} */

@media (max-width: 992px) {
    .hero-section__img-wrap {
        max-width: none;
        display: flex;
        align-items: center;
        max-height: 350px;
    }
}

@media (max-width: 575px) {
    .hero-section__img-wrap {
        height: 293px;
    }
}

.hero-section__img-wrap img {
    width: 100%;
    height: 100%;
}


/* БЛОК - ИСТОРИИ ЛЮДЕЙ */
.history {}

.history__cards {
    gap: 2rem;
}

@media (max-width: 575px) {
    .history__cards {
        gap: 1.5rem;
    }
}

.history__card {
    gap: 3rem;
    position: relative;
    padding-bottom: 2rem;
    display: flex;
}

@media (max-width: 768px) {
    .history__card {
        flex-direction: column;
    }
}

@media (max-width: 575px) {
    .history__card {
        gap: 2rem;
        position: relative;
        padding-bottom: 1.5rem;
    }
}

/* .history__card:hover .history__card-title {
    color: var(--color-orange);
} */

.history__card::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #D4D4D4;
    position: absolute;
    bottom: 0;
}

.history__img-wrap {
    overflow: hidden;
    border-radius: 2rem;
    max-width: 320px;
}

@media (max-width: 768px) {
    .history__img-wrap {
        border-radius: 1.2rem;
        max-width: none;
        height: 300px;
    }
}

@media (max-width: 575px) {
    .history__img-wrap {
        height: 200px;
    }
}

.history__img-wrap>img {
    height: 100%;
    width: 100%;
}

.history__card-body {
    height: auto;
    width: 100%;
    gap: 2rem;
    padding: 2rem 0rem;
    line-height: 150%;
}

@media (max-width: 768px) {
    .history__card-body {
        gap: 1.8rem;
        padding: 0rem;
    }
}

@media (max-width: 575px) {
    .history__card-body {
        gap: 1.5rem;
    }
}

.history__card-title {
    font-size: var(--fz-l);
    color: #303030;
}

.history__card-desc {
    font-size: var(--fz-xs);
    color: #303030;

    /* если испольузете скрипт, это надо убрать */
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

@media (max-width: 575px) {
    .history__card-desc {
        -webkit-line-clamp: 7;
    }
}

.history__card-date {
    font-size: var(--fz-xs);
    color: rgba(48, 48, 48, 0.5);
    margin-top: auto;
}

.history__btn {
    margin-top: 5rem;
    align-self: center;
}

@media (max-width: 768px) {
    .history__btn {
        margin-top: 4rem;
    }
}


/* БЛОК - ПО ТИПУ КАК: В ШКОЛЕ ПРОХОДЯТ ГРУППОВЫЕ ВСТРЕЧИ */
.what-doing {}

.what-doing.only-items .what-doing__body {
    display: none;
}

.what-doing.with-btn .btn {
    display: flex;
}

.what-doing .my-container {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
}

.what-doing__header {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.what-doing__header h2 {
    margin-bottom: 0;
}

.what-doing__content {
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

@media (max-width: 769px) {
    .what-doing__content {
        gap: 2.5rem;
    }
}

.what-doing__body {
    display: flex;
    gap: 4rem;
}

@media (max-width: 769px) {
    .what-doing__body {
        flex-direction: column;
        gap: 3.5rem;
    }
}

.what-doing__body>* {
    flex: 1 1 50%;
}

@media (max-width: 769px) {
    .what-doing__body>* {
        flex: auto;
    }
}

.what-doing__main-text {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.what-doing__img-wrap {
    border-radius: 1.2rem;
    max-height: 290px;
}

@media (max-width: 769px) {
    .what-doing__img-wrap {
        max-height: none;
        height: 295px;
    }
}

.what-doing__img-wrap img {
    width: 100%;
    height: 100%;
}

.what-doing__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem;
}

@media (max-width: 1199px) {
    .what-doing__items {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 575px) {
    .what-doing__items {
        grid-template-columns: 1fr;
        gap: 2.5rem;
    }
}

.what-doing__item {
    display: flex;
    gap: 2.7rem;
}

@media (max-width: 769px) {
    .what-doing__item {
        gap: 2rem;
    }
}

@media (max-width: 575px) {
    .what-doing__item {
        gap: 1.5rem;
    }
}

.what-doing__item-icon {
    width: 36px;
    height: 36px;
}

.what-doing__item-texts {
    padding-top: 5px;
}

.what-doing__item-tile {
    font-weight: 600;
    line-height: 150%;
}


/* БЛОК - ГДЕ МНОГО КАРТИНОК БЕЗ НИЧЕГО (КАК В ПРОГРАММЕ 4) */
.group-images {}

.group-images__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem 4rem;
}

@media (max-width: 992px) {
    .group-images__items {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem 3rem;
    }
}

@media (max-width: 769px) {
    .group-images__items {
        gap: 1.5rem 2rem;
    }
}

@media (max-width: 575px) {
    .group-images__items {
        grid-template-columns: 1fr;
    }
}

.group-images__img-wrap {
    overflow: hidden;
    border-radius: 1.2rem;
    height: 290px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 769px) {
    .group-images__img-wrap {
        height: 240px;
    }
}

@media (max-width: 575px) {
    .group-images__img-wrap {
        height: 200px;
    }
}

.group-images__img-wrap img {
    width: 100%;
    height: 100%;
}


/* БЛОК - ФОРМАТЫ ПОМОЩИ */
.help-format {}

.help-format__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem 4rem;
}

@media (max-width: 992px) {
    .help-format__items {
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem 3rem;
    }
}

@media (max-width: 769px) {
    .help-format__items {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem 3rem;
    }
}

@media (max-width: 575px) {
    .help-format__items {
        grid-template-columns: 1fr;
        gap: 1.5rem 3rem;
    }
}

.help-format__items.group-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem 4rem;
}

@media (max-width: 992px) {
    .help-format__items.group-3 {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem 3rem;
    }
}

@media (max-width: 769px) {
    .help-format__items.group-3 {
        grid-template-columns: 1fr;
        grid-auto-rows: 1fr;
    }
}

@media (max-width: 575px) {
    .help-format__items.group-3 {
        gap: 1.5rem 3rem;
    }
}

.help-format__item {
    padding: 2rem;
    overflow: hidden;
    border-radius: 1.2rem;
    display: flex;
    flex-direction: column;
    background-color: var(--color-white);
    max-height: 170px;
    min-height: 72px;
    gap: 1rem;
}

@media (max-width: 769px) {
    .help-format__item {
        padding: 1.8rem;
    }
}

@media (max-width: 575px) {
    .help-format__item {
        padding: 1.5rem;
    }
}

.help-format__item.with-img {
    padding: 0;
}

.help-format__item img {
    width: 100%;
    height: 170px;
}

.help-format__title {
    font-weight: 500;
    line-height: 150%;
}

.help-format__title+p:not(:empty) {
    margin-top: 5px;
}

.help-format__item p {
    font-size: var(--fz-s);
}

.help-format__item p:empty {
    display: none;
}


/* БЛОК - ПО ТИПУ "ПРОГРАММА ПОДДЕРЖИВАЕТ ПРОГРАММА 7" */
.program-supports {}

.program-supports header {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    margin-bottom: 3.5rem;
}

.program-supports h2 {
    margin-bottom: 0;
}

.program-supports h2+p:empty {
    display: none;
}

.program-supports__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 170px;
    gap: 2rem 4rem;
}

@media (max-width: 992px) {
    .program-supports__items {
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: 200px;
        gap: 2rem 3rem;
    }
}

@media (max-width: 769px) {
    .program-supports__items {
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5rem 3rem;
    }
}

@media (max-width: 575px) {
    .program-supports__items {
        grid-template-columns: 1fr;
    }
}

.program-supports__image-item {
    overflow: hidden;
    border-radius: 1.2rem;
}

.program-supports__image-item:nth-child(6n + 1),
.program-supports__image-item:nth-child(6n + 3) {
    grid-row: span 2;
}

@media (max-width: 992px) {

    .program-supports__image-item:nth-child(6n + 1),
    .program-supports__image-item:nth-child(6n + 3) {
        grid-row: span 1;
    }
}


.program-supports__image-item img {
    width: 100%;
    height: 100%;
}


/* БЛОК - ПРОГРАММА ОБЪЕДИНЯЕТ */
.program-unites {}

.program-unites__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem;
}

@media (max-width: 1199px) {
    .program-unites__items {
        gap: 3rem;
    }
}

@media (max-width: 992px) {
    .program-unites__items {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 769px) {
    .program-unites__items {
        grid-template-columns: 1fr;
        gap: 2.5rem;
    }
}

.program-unites__item {
    border-radius: 1.6rem;
    background-color: var(--color-white);
    padding: 1rem;
    box-shadow: 0px 0px 21.9px 0px rgba(0, 0, 0, 0.05);
}

@media (max-width: 769px) {
    .program-unites__item {
        border-radius: 1.4rem;
    }
}

.program-unites__item-inner {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.program-unites__item-img-wrap {
    border-radius: 8px;
    height: 272px;
}

.program-unites__item-img-wrap img {
    width: 100%;
    height: 100%;
}

.program-unites__texts {
    padding: 0px 1rem 1rem;
    font-size: var(--fz-m);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    line-height: 150%;
}

@media (max-width: 769px) {
    .program-unites__texts {
        font-size: var(--fz-xs);
    }
}

.program-unites__texts ul,
.program-unites__texts ol {
    font-size: var(--fz-xs);
    line-height: 150%;
}

@media (max-width: 769px) {

    .program-unites__texts ul,
    .program-unites__texts ol {
        font-size: var(--fz-s);
    }
}


/* БЛОК - РУКОВОДИТЕЛЬ ПРОГРАММЫ */
.program-manager {}

.program-manager .my-container {
    gap: 4rem;
}

@media (max-width: 992px) {
    .program-manager .my-container {
        gap: 3rem;
        flex-direction: column;
    }
}

@media (max-width: 769px) {
    .program-manager .my-container {
        gap: 2.5rem;
    }
}

.program-manager .my-container>* {
    flex: 1;
}

.program-manager__main-info {
    padding: 1.5rem;
    border-radius: 1.2rem;
    gap: 4rem;
    align-items: center;
    background-color: var(--color-white);
}

@media (max-width: 769px) {
    .program-manager__main-info {
        gap: 3rem;
    }
}

@media (max-width: 575px) {
    .program-manager__main-info {
        gap: 1.5rem;
        align-items: flex-start;
        padding: 1rem;
        flex-direction: column;
    }
}

.program-manager__img-wrap {
    border-radius: 7px;
    overflow: hidden;
    max-width: 193px;
    width: 100%;
}

@media (max-width: 575px) {
    .program-manager__img-wrap {
        max-width: none;
        height: 300px;
    }
}

@media (max-width: 400px) {
    .program-manager__img-wrap {
        height: 275px;
    }
}

.program-manager__img-wrap img {
    width: 100%;
    height: 100%;
}

.program-manager__texts {
    gap: 1.5rem;
    color: #303030;
}

@media (max-width: 575px) {
    .program-manager__texts {
        padding: 0rem 5px 5px;
    }
}

.program-manager__texts h3 {
    font-weight: 500;
    color: #303030;
}

.program-manager__texts h3+p {
    color: rgba(48, 48, 48, 0.5);
}

.program-manager__contacts {
    line-height: 150%;
}

.program-manager__banner {
    max-width: 580px;
}

@media (max-width: 992px) {
    .program-manager__banner {
        max-width: none;
    }
}



/* == ПРОГРАММА 1 - УНИКАЛЬНЫЕ БЛОКИ == */
/* БЛОК - МИССИЯ И ЦЕЛИ ПРОГРАММЫ */
.missions {}

@media (max-width:575px) {
    .missions h2 {
        max-width: 260px;
    }
}

.missions__body {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3.5rem 4rem;
}

@media (max-width: 992px) {
    .missions__body {
        gap: 3.5rem 3rem;
    }
}

@media (max-width: 769px) {
    .missions__body {
        grid-template-columns: 1fr;
    }
}

@media (max-width:575px) {
    .missions__body {
        gap: 2.5rem 3rem;
    }
}

.missions__content {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
}

@media (max-width: 769px) {
    .missions__body {
        grid-template-columns: 1fr;
    }
}

@media (max-width:575px) {
    .missions__content {
        gap: 2.5rem;
    }
}

.missions__content ul {
    font-size: var(--fz-s);
}

@media (max-width: 769px) {
    .missions__content ul {
        font-size: var(--fz-xs);
    }
}

.missions__img-wrap {
    border-radius: 1.6rem;
    overflow: hidden;
    max-width: 580px;
    max-height: 350px;
    margin-top: auto;
}

@media (max-width: 769px) {
    .missions__img-wrap {
        max-width: none;
        display: flex;
        align-items: center;
    }
}

@media (max-width: 575px) {
    .missions__img-wrap {
        height: 200px;
    }
}

.missions__img-wrap img {
    width: 100%;
    height: 100%;
}


/* БЛОК - ОТЗЫВЫ */
.reviews {}

.reviews__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem 4rem;
}

@media (max-width: 992px) {
    .reviews__cards {
        grid-template-columns: repeat(2, 1fr);
        gap: 2.5rem 3rem;
    }
}

@media (max-width: 769px) {
    .reviews__cards {
        grid-template-columns: 1fr;
        gap: 2.5rem 3rem;
    }
}

@media (max-width: 575px) {
    .reviews__cards {
        gap: 1.5rem 3rem;
    }
}

.reviews__card {
    border-radius: 2.4rem;
    background-color: var(--color-white);
    overflow: hidden;
    padding: 2rem;
    box-shadow: 0px 0px 21.9px 0px rgba(0, 0, 0, 0.05);
}

.reviews__card-inner {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

@media (max-width: 769px) {
    .reviews__card-inner {
        gap: 1.5rem;
    }
}

.reviews__author {
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

.reviews__author h3 {
    font-size: var(--fz-m);
    font-weight: 500;
    line-height: 150%;
}

.reviews__author-img-wrap {
    height: 43px;
    width: 43px;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 43 43' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='43' height='43' fill='%23FAFAFA'/%3E%3Cpath d='M21.5 21.5C22.5816 21.5 23.6389 21.1793 24.5383 20.5784C25.4376 19.9774 26.1385 19.1233 26.5525 18.1241C26.9664 17.1248 27.0747 16.0252 26.8637 14.9644C26.6527 13.9035 26.1318 12.9291 25.367 12.1643C24.6022 11.3994 23.6277 10.8786 22.5669 10.6676C21.5061 10.4566 20.4065 10.5649 19.4072 10.9788C18.4079 11.3927 17.5538 12.0936 16.9529 12.993C16.352 13.8923 16.0312 14.9496 16.0312 16.0313C16.0312 17.4817 16.6074 18.8727 17.633 19.8982C18.6586 20.9238 20.0496 21.5 21.5 21.5ZM21.5 23.0625C18.1104 23.0625 11.3438 25.1563 11.3438 29.3125V30.4375C11.3438 31.5421 12.2392 32.4375 13.3438 32.4375H29.6562C30.7608 32.4375 31.6562 31.5421 31.6562 30.4375V29.3125C31.6562 25.1563 24.8896 23.0625 21.5 23.0625Z' fill='%238B8B8B'/%3E%3C/svg%3E");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #FAFAFA;
    overflow: hidden;
    border-radius: 6px;
}

.reviews__author-img-wrap img {
    width: 100%;
    height: 100%;
}

.reviews__author-img-wrap img[src=""],
.reviews__author-img-wrap img[src="#"],
.reviews__author-img-wrap img:not([src]) {
    display: none;
}

.reviews__card-inner p {
    font-size: var(--fz-s);
    line-height: 150%;
}



/* == ПРОГРАММА 2 - УНИКАЛЬНЫЕ БЛОКИ == */
/* БЛОК - НЯНИ ЗАБОТЯТСЯ О ДЕТЯХ */
.nannies-care {}

.nannies-care__content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 2rem 4rem;
}

@media (max-width: 992px) {
    .nannies-care__content {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        gap: 2rem 3rem;
    }
}

@media (max-width: 769px) {
    .nannies-care__content {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem 2rem;
    }
}

@media (max-width: 575px) {
    .nannies-care__content {
        grid-template-columns: 1fr;
        gap: 1rem 2rem;
    }
}

.nannies-care__text-item {
    border-radius: 1.6rem;
    background-color: var(--color-white);
    overflow: hidden;
    padding: 2rem;
    box-shadow: 0px 0px 21.9px 0px rgba(0, 0, 0, 0.05);
    line-height: 150%;
}

.nannies-care__img-wrap {
    border-radius: 1.6rem;
    grid-column: 3 / 5;
    grid-row: 2 / 5;
}

@media (max-width: 992px) {
    .nannies-care__img-wrap {
        border-radius: 1.6rem;
        grid-column: 1 / 4;
        grid-row: auto;
        height: 377px;
    }
}

@media (max-width: 769px) {
    .nannies-care__img-wrap {
        border-radius: 1.4rem;
        grid-column: 1 / 3;
        height: 318px;
    }
}

@media (max-width: 575px) {
    .nannies-care__img-wrap {
        margin-top: 1.5rem;
        grid-column: auto;
        height: 295px;
    }
}

.nannies-care__img-wrap img {
    width: 100%;
    height: 100%;
}

.nannies-care__banner {
    grid-column: 1 / 3;
    grid-row: 3 / 5;
}

@media (max-width: 992px) {
    .nannies-care__banner {
        grid-column: 1 / 4;
        grid-row: auto;
    }
}

@media (max-width: 769px) {
    .nannies-care__banner {
        grid-column: 1 / 3;
        grid-row: auto;
    }
}

@media (max-width: 575px) {
    .nannies-care__banner {
        margin-top: 1.5rem;
        grid-column: auto;
    }
}


/* БЛОК - ВНИМАНИЕ И ПОДДЕРЖКА НЯНИ */
.nannies-support {}

.nannies-support h2 {
    margin-bottom: 3.5rem;
}

.nanny-support__content {}

.nanny-support__img-wrap {
    border-radius: 1.2rem;
    height: 375px;
    margin-bottom: 3.5rem;
}

@media (max-width: 769px) {
    .nanny-support__img-wrap {
        border-radius: 7px;
        height: 318px;
    }
}

@media (max-width: 575px) {
    .nanny-support__img-wrap {
        height: 295px;
    }
}

.nanny-support__img-wrap img {
    width: 100%;
    height: 100%;
}

.nanny-support__content p {
    line-height: 150%;
}

.nanny-support__content p:not(:last-child) {
    margin-bottom: 1rem;
}



/* == ПРОГРАММА 3 - УНИКАЛЬНЫЕ БЛОКИ == */
/* БЛОК - ПОДОПЕЧНЫЕ ПРОГРАММЫ */
.mentee {}

.mentee__content {
    display: grid;
    grid-template-columns: 1fr 1fr 500px;
    gap: 4rem;
}

@media (max-width: 1199px) {
    .mentee__content {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 2rem;
    }
}

@media (max-width: 992px) {
    .mentee__content {
        grid-template-columns: 1fr 1fr;
        gap: 3rem;
    }
}

@media (max-width: 769px) {
    .mentee__content {
        gap: 2rem;
    }
}

@media (max-width: 575px) {
    .mentee__content {
        grid-template-columns: 1fr;
    }
}

.mentee__card {
    padding: 1rem;
    border-radius: 1.6rem;
    background-color: var(--color-white);
    box-shadow: 0px 0px 21.9px 0px rgba(0, 0, 0, 0.05);
}

@media (max-width: 769px) {
    .mentee__card {
        border-radius: 1.4rem;
    }
}

.mentee__card-inner {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.mentee__card__img-wrap {
    border-radius: 8px;
    width: 100%;
    height: 272px;
}

.mentee__card__img-wrap img {
    width: 100%;
    height: 100%;
}

.mentee__card-texts {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: var(--fz-m);
    padding: 0px 1rem 1rem;
}

@media (max-width: 769px) {
    .mentee__card-texts {
        font-size: var(--fz-xs);
    }
}

.mentee__banner {}

@media (max-width: 992px) {
    .mentee__banner {
        grid-column: span 2;
    }
}

@media (max-width: 575px) {
    .mentee__banner {
        grid-column: span 1;
    }
}


/* БЛОК - ПОМОЩЬ ДЛЯ */
.help-for {}

.help-for__items {
    display: flex;
    flex-direction: column;
    gap: 10rem;
}

@media (max-width: 992px) {
    .help-for__items {
        gap: 8rem;
    }
}

@media (max-width: 575px) {
    .help-for__items {
        gap: 5rem;
    }
}

.help-for__item {}

.help-for__item h2 {
    margin-bottom: 3.5rem;
}

.help-for__item-content {
    display: flex;
    gap: 4rem;
}

@media (max-width: 992px) {
    .help-for__item-content {
        flex-direction: column;
    }
}

@media (max-width: 769px) {
    .help-for__item-content {
        gap: 3.5rem;
    }
}

.help-for__item-content>* {
    flex: 1 1 50%;
}

@media (max-width: 992px) {
    .help-for__item-content>* {
        flex: auto;
    }
}

.help-for__item-texts {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

@media (max-width: 992px) {
    .help-for__item-texts {
        order: 2;
    }
}

.help-for__item-img-wrap {
    max-width: 580px;
    width: 100%;
    border-radius: 1.2rem;
    min-height: 450px;
}

@media (max-width: 992px) {
    .help-for__item-img-wrap {
        max-width: none;
        min-height: 0px;
        max-height: 400px;
        order: 1;
    }
}

@media (max-width: 575px) {
    .help-for__item-img-wrap {
        height: 295px;
    }
}

.help-for__item-img-wrap img {
    width: 100%;
    height: 100%;
}



/* == ПРОГРАММА 4 - УНИКАЛЬНЫЕ БЛОКИ == */
/* БЛОК - СЛЕДУЮЩАЯ ВСТРЕЧА */
.meeting-dates {}

.meeting-dates__cards {
    gap: 4rem;
    flex-wrap: wrap;
}

@media (max-width: 992px) {
    .meeting-dates__cards {
        gap: 3rem;
    }
}

@media (max-width: 769px) {
    .meeting-dates__cards {
        gap: 4rem;
    }
}

@media (max-width: 575px) {
    .meeting-dates__cards {
        gap: 3.5rem;
    }
}

.meeting-dates__card {
    max-width: 516px;
    display: flex;
    flex-direction: column;
    flex: 1 1 calc(50% - 4rem);
}

@media (max-width: 800px) {
    .meeting-dates__card {
        max-width: none;
        flex: 1 1 100%;
    }
}

.meeting-dates__location {
    font-size: var(--fz-m);
    font-weight: 500;
    line-height: 150%;
    margin-bottom: 1.5rem;
}

.meeting-dates__desc {
    margin-bottom: 2rem;
    line-height: 150%;
}

@media (max-width: 769px) {
    .meeting-dates__desc {
        margin-bottom: 1.5rem;
    }
}

.meeting-dates__card .btn {
    margin-top: auto;
    width: 238px;
}


/* ПРОГРАММА 7  */
/* БЛОК - БЛИЖАЙШИЕ СОБЫТИЯ */
.pb-large {}

.upcoming-events {}

.upcoming-events__cards {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.upcoming-events__card {
    padding: 2.5rem;
    border-radius: 1.6rem;
    position: relative;
    min-height: 351px;
    overflow: hidden;
}

@media (max-width: 769px) {
    .upcoming-events__card {
        padding: 2rem;
        border-radius: 1.4rem;
        box-shadow: 0px 0px 21.9px 0px #0000000D;
        min-height: 503px;
    }
}

.upcoming-events__card-bg-img-wrap {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

@media (max-width: 769px) {
    .upcoming-events__card-bg-img-wrap {
        top: auto;
        height: 314px;
        bottom: 0;
    }
}

.upcoming-events__card-bg-img-wrap::after {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: #F9F9F940;
}

@media (max-width: 769px) {
    .upcoming-events__card-bg-img-wrap::after {
        background-color: transparent;
    }
}

.upcoming-events__card-bg-img {
    width: 100%;
    height: 100%;
    transform: scaleX(-1);
}

.upcoming-events__card-inner {
    max-width: 338px;
    gap: 1.5rem;
    position: relative;
    z-index: 5;
}

@media (max-width: 769px) {
    .upcoming-events__card-inner {
        max-width: 400px;
        gap: 1rem;
    }
}

.upcoming-events__card-title {
    font-size: var(--fz-m);
    font-weight: 500;
    line-height: 150%;
}

@media (max-width: 769px) {
    .upcoming-events__card-title {
        font-size: var(--fz-xs);
    }
}

.upcoming-events__desc {
    line-height: 150%;
    margin-bottom: 2rem;
}

@media (max-width: 769px) {
    .upcoming-events__desc {
        line-height: 150%;
        margin-bottom: 1rem;
    }
}

.upcoming-events .btn {
    max-width: 307px;
    width: 100%;
}

.btn_color-blue {}