/* ЗАГОЛОВКИ */
h1,
h2,
.h1,
.h2 {
  font-family: "Bicubik";
  font-weight: 400;
  color: var(--color-text);
}

h1,
.h1 {
  font-size: 11rem;
  line-height: 90%;
}

.inner-h1 {
  font-size: 6rem;
  margin-bottom: 3.5rem;
}

h2,
.h2 {
  font-size: 5.4rem;
  margin-bottom: 3.5rem;
}

.inner-h2 {
  font-family: "Bicubik";
  font-size: 4.2rem;
  line-height: 110%;
  margin-bottom: 3.5rem;
}

h2.fixed-mb,
.h2.fixed-mb {
  margin-bottom: 3.5rem !important;
}

h3,
.h3 {
  font-size: var(--fz-xl);
  line-height: 130%;
  font-weight: 600;
  font-family: "Inter Tight";
  color: var(--color-text);
}

.h3_type2 {
  font-family: "Bicubik" !important;
  font-weight: 400 !important;
}

@media (max-width: 1199px) {

  h1,
  .h1 {
    font-size: 9rem;
  }

  .inner-h2 {
    font-size: 3.8rem;
  }

  h3,
  .h3 {
    font-size: var(--fz-l);
  }
}

@media (max-width: 992px) {

  h1,
  .h1 {
    font-size: 7rem;
  }

  .inner-h1 {
    font-size: 5rem;
  }

  h2,
  .h2 {
    font-size: 4.5rem;
  }
}

@media (max-width: 575px) {

  h1,
  .h1 {
    font-size: 5.2rem;
  }

  .inner-h1 {
    font-size: 3.6rem;
    line-height: 110%;
    margin-bottom: 2.5rem;
  }

  h2,
  .h2 {
    font-size: 3.6rem;
    line-height: 110%;
    margin-bottom: 2.5rem;
  }

  .inner-h2 {
    font-size: 2.8rem;
  }

  h3,
  .h3 {
    font-size: var(--fz-m);
  }
}


/* ТЕКСТА */
.fz-s {
  font-size: var(--fz-s);
}

@media (max-width: 350px) {
  .fz-s {
    font-size: 1rem;
  }
}

.fz-s-fixed {
  font-size: var(--fz-s) !important;
}

.fz-xs {
  font-size: var(--fz-xs);
}

.fz-xs-fixed {
  font-size: var(--fz-xs) !important;
}

.fz-m {
  font-size: var(--fz-m);
}

.fz-m-fixed {
  font-size: var(--fz-m) !important;
}

@media (max-width: 768px) {
  .fz-m {
    font-size: var(--fz-xs);
  }
}

.fz-m-plus {
  font-size: var(--fz-m-plus);
}

.fz-m-plus-fixed {
  font-size: var(--fz-m-plus) !important;
}

@media (max-width: 768px) {
  .fz-m-plus {
    font-size: var(--fz-m);
  }
}

.fz-l {
  font-size: var(--fz-l);
}

.fz-l-fixed {
  font-size: var(--fz-l) !important;
}

.font-medium {
  font-weight: 500 !important;
}

.text-center {
  text-align: center;
}

.color-lightGray {
  color: var(--color-lightGray);
}


/* СПИСКИ */
.list-standart ul,
ul.list-standart,
.list-standart ol,
ol.list-standart {
  display: flex;
  flex-direction: column;
  gap: 3px;
  line-height: 130%;
}

.list-standart ul li,
ul.list-standart li {
  list-style-type: disc;
  margin-left: 2rem;
}

.list-standart ol li,
ol.list-standart li {
  list-style-type: decimal;
  margin-left: 2rem;
}


/* ФЛЕКСБОКС */
.flex {
  display: flex;
}

.flex .col-auto {
  flex: 0 0 auto;
  width: auto;
}

.flex .col {
  flex: 1 0 0;
}

.flex-column {
  flex-direction: column;
}

.justify-between {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}

.wrap {
  flex-wrap: wrap;
}


/* ОТСТУПЫ ДЛЯ БЛОКОВ */
main>*:first-child {
  padding-top: var(--header-height);
}

.pt-large {
  padding-top: 15rem;
}

.pb-large {
  padding-bottom: 15rem;
}

.py-large {
  padding: 15rem 0rem;
}

@media (max-width: 992px) {
  .pt-large {
    padding-top: 12rem;
  }

  .pb-large {
    padding-bottom: 12rem;
  }

  .py-large {
    padding: 12rem 0rem;
  }
}

@media (max-width: 575px) {
  .pt-large {
    padding-top: 8rem;
  }

  .pb-large {
    padding-bottom: 8rem;
  }

  .py-large {
    padding: 8rem 0rem;
  }
}

.me-auto {
  margin-left: auto;
  margin-right: auto;
}

.mt-auto {
  margin-top: auto;
}


/* ВИДИМОСТЬ ЭЛЕМЕНТОВ И РАБОТА С РАЗРЕШЕНИЯМИ */
.d-none {
  display: none !important;
}

.hidden {
  overflow: hidden;
}

@media (min-width: 1201px) {
  .d-xl-none {
    display: none !important;
  }

  .d-xl-block {
    display: block !important;
  }

  .d-xl-flex {
    display: flex !important;
  }
}

@media (min-width: 992px) {
  .d-lg-none {
    display: none !important;
  }

  .d-lg-block {
    display: block !important;
  }

  .d-lg-flex {
    display: flex !important;
  }

  .flex-lg-row {
    flex-direction: row !important;
  }
}

@media (min-width: 769px) {
  .d-md-none {
    display: none !important;
  }

  .d-md-block {
    display: block !important;
  }

  .d-md-flex {
    display: flex !important;
  }

  .flex-md-row {
    flex-direction: row !important;
  }
}

@media (min-width: 576px) {
  .d-sm-none {
    display: none !important;
  }

  .d-sm-block {
    display: block !important;
  }

  .d-sm-flex {
    display: flex !important;
  }
}


/* КОНТАКТЫ И МЕДИА */
.soc-link__tg {
  display: block;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13 26C20.1797 26 26 20.1797 26 13C26 5.8203 20.1797 0 13 0C5.8203 0 0 5.8203 0 13C0 20.1797 5.8203 26 13 26Z' fill='%232BA3D6'/%3E%3Cpath d='M4.84155 13.6358C6.36125 12.7988 8.05764 12.1001 9.64267 11.3979C12.3695 10.2477 15.1072 9.11746 17.8725 8.06522C18.4106 7.88594 19.3773 7.71063 19.4721 8.50793C19.4201 9.63655 19.2066 10.7586 19.0602 11.8806C18.6885 14.348 18.2588 16.8069 17.8398 19.2662C17.6954 20.0854 16.6693 20.5094 16.0127 19.9852C14.4347 18.9193 12.8446 17.8638 11.2867 16.7732C10.7764 16.2547 11.2496 15.51 11.7054 15.1398C13.0051 13.8589 14.3834 12.7707 15.6151 11.4237C15.9474 10.6214 14.9657 11.2976 14.6418 11.5048C12.8626 12.7309 11.1269 14.0319 9.25095 15.1094C8.29275 15.6369 7.17594 15.1862 6.21816 14.8918C5.35941 14.5363 4.101 14.1781 4.84146 13.6359L4.84155 13.6358Z' fill='white'/%3E%3C/svg%3E");
  width: 100%;
  height: 100%;
}

.soc-link__wa {
  display: block;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='13' cy='13' r='13' fill='%2348C95F'/%3E%3Cpath d='M18.1524 7.8406C16.8683 6.56091 15.1561 5.84998 13.3488 5.84998C9.59146 5.84998 6.54756 8.88331 6.54756 12.6276C6.54756 13.8125 6.88049 14.9974 7.45122 15.9927L6.5 19.5L10.1146 18.5521C11.1134 19.0734 12.2073 19.3578 13.3488 19.3578C17.1061 19.3578 20.15 16.3245 20.15 12.5802C20.1024 10.8265 19.4366 9.12029 18.1524 7.8406ZM16.6305 15.0448C16.4878 15.4239 15.822 15.8031 15.489 15.8505C15.2037 15.8979 14.8232 15.8979 14.4427 15.8031C14.2049 15.7083 13.872 15.6135 13.4915 15.4239C11.7793 14.713 10.6854 13.0067 10.5902 12.8646C10.4951 12.7698 9.87683 11.964 9.87683 11.1109C9.87683 10.2578 10.3049 9.87862 10.4476 9.68904C10.5902 9.49945 10.7805 9.49945 10.9232 9.49945C11.0183 9.49945 11.161 9.49945 11.2561 9.49945C11.3512 9.49945 11.4939 9.45206 11.6366 9.78383C11.7793 10.1156 12.1122 10.9687 12.1598 11.0161C12.2073 11.1109 12.2073 11.2057 12.1598 11.3005C12.1122 11.3953 12.0646 11.4901 11.9695 11.5849C11.8744 11.6797 11.7793 11.8219 11.7317 11.8692C11.6366 11.964 11.5415 12.0588 11.6366 12.201C11.7317 12.3906 12.0646 12.912 12.5878 13.3859C13.2537 13.9547 13.7768 14.1442 13.9671 14.239C14.1573 14.3338 14.2524 14.2864 14.3476 14.1916C14.4427 14.0969 14.7756 13.7177 14.8707 13.5281C14.9659 13.3385 15.1085 13.3859 15.2512 13.4333C15.3939 13.4807 16.25 13.9073 16.3927 14.0021C16.5829 14.0969 16.678 14.1442 16.7256 14.1916C16.7732 14.3338 16.7732 14.6656 16.6305 15.0448Z' fill='white'/%3E%3C/svg%3E");
  width: 100%;
  height: 100%;
}

.soc-link__vk {
  display: block;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13 26C20.1797 26 26 20.1797 26 13C26 5.8203 20.1797 0 13 0C5.8203 0 0 5.8203 0 13C0 20.1797 5.8203 26 13 26Z' fill='%234680C2'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M20.6 9.70217C20.726 9.30607 20.6 9.018 20.0418 9.018H18.1874C17.7193 9.018 17.5032 9.27006 17.3772 9.54013C17.3772 9.54013 16.423 11.8447 15.0906 13.339C14.6585 13.7711 14.4605 13.9152 14.2264 13.9152C14.1004 13.9152 13.9384 13.7711 13.9384 13.375V9.68416C13.9384 9.21605 13.7943 9 13.3982 9H10.4815C10.1935 9 10.0134 9.21605 10.0134 9.4321C10.0134 9.88221 10.6796 9.99024 10.7516 11.2505V13.9872C10.7516 14.5813 10.6436 14.6894 10.4095 14.6894C9.77938 14.6894 8.24901 12.3668 7.33079 9.72017C7.15075 9.19805 6.97071 9 6.5026 9H4.63015C4.09002 9 4 9.25206 4 9.52212C4 10.0082 4.63015 12.4568 6.9347 15.6976C8.46507 17.9121 10.6436 19.1004 12.6061 19.1004C13.7943 19.1004 13.9384 18.8303 13.9384 18.3802V16.7058C13.9384 16.1657 14.0464 16.0757 14.4245 16.0757C14.6946 16.0757 15.1807 16.2197 16.2789 17.282C17.5392 18.5423 17.7553 19.1184 18.4574 19.1184H20.3119C20.852 19.1184 21.1041 18.8484 20.96 18.3262C20.798 17.8041 20.1859 17.0479 19.3937 16.1477C18.9616 15.6436 18.3134 15.0855 18.1154 14.8154C17.8453 14.4553 17.9173 14.3113 18.1154 13.9872C18.0974 13.9872 20.3659 10.7824 20.6 9.70217Z' fill='white'/%3E%3C/svg%3E");
  width: 100%;
  height: 100%;
}

.soc-link__tg:hover,
.soc-link__wa:hover,
.soc-link__vk:hover {
  opacity: 0.7;
}

.mobile-contact {
  position: relative;
  display: flex;
  align-items: center;
  gap: 6px;
}

.mobile-contact::before {
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.2735 18.75C14.511 18.75 13.4399 18.4742 11.836 17.5781C9.88562 16.4844 8.37702 15.4746 6.43718 13.5398C4.56687 11.6707 3.65671 10.4605 2.38288 8.14258C0.94382 5.52539 1.18913 4.15352 1.46335 3.56719C1.78991 2.86641 2.27195 2.44727 2.89499 2.03125C3.24888 1.79939 3.62338 1.60063 4.01374 1.4375C4.0528 1.4207 4.08913 1.40469 4.12155 1.39023C4.31491 1.30312 4.60788 1.17148 4.97898 1.31211C5.22663 1.40508 5.44773 1.59531 5.79382 1.93711C6.50359 2.63711 7.47351 4.19609 7.83132 4.96172C8.07155 5.47773 8.23054 5.81836 8.23093 6.20039C8.23093 6.64766 8.00593 6.99258 7.73288 7.36484C7.68171 7.43477 7.63093 7.50156 7.58171 7.56641C7.28444 7.95703 7.21921 8.06992 7.26218 8.27148C7.34929 8.67656 7.9989 9.88242 9.06648 10.9477C10.1341 12.0129 11.3051 12.6215 11.7118 12.7082C11.9219 12.7531 12.0372 12.6852 12.4403 12.3773C12.4981 12.3332 12.5575 12.2875 12.6196 12.2418C13.036 11.932 13.3649 11.7129 13.8016 11.7129H13.804C14.1841 11.7129 14.5094 11.8777 15.0485 12.1496C15.7516 12.5043 17.3575 13.4617 18.0618 14.1723C18.4044 14.5176 18.5954 14.7379 18.6887 14.9852C18.8294 15.3574 18.6969 15.6492 18.6106 15.8445C18.5962 15.877 18.5801 15.9125 18.5634 15.952C18.3989 16.3416 18.199 16.7153 17.9661 17.0684C17.5509 17.6895 17.1301 18.1703 16.4278 18.4973C16.0671 18.6679 15.6725 18.7543 15.2735 18.75Z' fill='%23252525'/%3E%3C/svg%3E");
  display: block;
  width: 20px;
  height: 20px;
  position: relative;
  transition: all 0.2s ease;
}

.mobile-contact:hover {
  color: var(--color-orange);
}

.mobile-contact:hover::before {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.2735 18.75C14.511 18.75 13.4399 18.4742 11.836 17.5781C9.88562 16.4844 8.37702 15.4746 6.43718 13.5398C4.56687 11.6707 3.65671 10.4605 2.38288 8.14258C0.94382 5.52539 1.18913 4.15352 1.46335 3.56719C1.78991 2.86641 2.27195 2.44727 2.89499 2.03125C3.24888 1.79939 3.62338 1.60063 4.01374 1.4375C4.0528 1.4207 4.08913 1.40469 4.12155 1.39023C4.31491 1.30312 4.60788 1.17148 4.97898 1.31211C5.22663 1.40508 5.44773 1.59531 5.79382 1.93711C6.50359 2.63711 7.47351 4.19609 7.83132 4.96172C8.07155 5.47773 8.23054 5.81836 8.23093 6.20039C8.23093 6.64766 8.00593 6.99258 7.73288 7.36484C7.68171 7.43477 7.63093 7.50156 7.58171 7.56641C7.28444 7.95703 7.21921 8.06992 7.26218 8.27148C7.34929 8.67656 7.9989 9.88242 9.06648 10.9477C10.1341 12.0129 11.3051 12.6215 11.7118 12.7082C11.9219 12.7531 12.0372 12.6852 12.4403 12.3773C12.4981 12.3332 12.5575 12.2875 12.6196 12.2418C13.036 11.932 13.3649 11.7129 13.8016 11.7129H13.804C14.1841 11.7129 14.5094 11.8777 15.0485 12.1496C15.7516 12.5043 17.3575 13.4617 18.0618 14.1723C18.4044 14.5176 18.5954 14.7379 18.6887 14.9852C18.8294 15.3574 18.6969 15.6492 18.6106 15.8445C18.5962 15.877 18.5801 15.9125 18.5634 15.952C18.3989 16.3416 18.199 16.7153 17.9661 17.0684C17.5509 17.6895 17.1301 18.1703 16.4278 18.4973C16.0671 18.6679 15.6725 18.7543 15.2735 18.75Z' fill='%23F29200'/%3E%3C/svg%3E");
}

.mobile-contact.no-icon::before {
  display: none;
}


/* СЛАЙДЕР */
.swiper {
  width: 100%;
  height: 100%;
}

[class*=swiper-btn] {
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 2px solid var(--color-orange);
  background-color: var(--color-orange);
  color: var(--color-white);
  user-select: none;
}

[class*=swiper-btn]:hover {
  background-color: transparent;
  color: var(--color-orange);
}

[class*=swiper-btn].swiper-button-disabled {
  cursor: default;
  opacity: 0.5;
}

.swiper-buttons {
  display: inline-flex;
  z-index: 5;
  gap: 1.5rem;
}

.blue-bg {
  background: url('../assets/images/donate-banner/blue-bg.webp');
  background-repeat: no-repeat;
  background-position: top center;
}

.blue-bg * {
  color: var(--color-white);
}